<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.miso-disim.requirementmetamodels.ui.contribution1">
         <menu
               label="TOTEM"
               path="additions"
               id="org.miso-disim.requirementmetamodels.ui.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Extract TRM"
               class="org.misodisim.requirementmetamodels.ui.popup.actions.ReduceAction"
               menubarPath="org.miso-disim.requirementmetamodels.ui.menu1/group1"
               enablesFor="1"
               id="org.miso-disim.requirementmetamodels.ui.newAction">
         </action>
         <action
               class="org.misodisim.requirementmetamodels.ui.popup.actions.CheckConformanceAction"
               id="org.miso-disim.requirementmetamodels.ui.action1"
               label="Check conformance"
               menubarPath="org.miso-disim.requirementmetamodels.ui.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
