<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="totem.drm.editor.Activator"
               id="totem.drm.editor"
	       name="editor">
    </component>
  </extension>
  <extension
        point="org.eclipse.sirius.externalJavaAction">
     <javaActions
           actionClass="totem.drm.editor.UnknownClassToNamed"
           id="UnknownToNamedClass">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetToAbstract"
           id="SetToAbstract">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetUntypedFeatureToAttr"
           id="SetUntypedFeatToAttr">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetUntypedFeatureToRef"
           id="SetUntypedFeatToRef">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetToConcrete"
           id="SetToConcrete">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetMaxToMany"
           id="SetMaxToMany">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetMaxToSpecificNumber"
           id="SetMaxToSpecificNumber">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetMinToMany"
           id="SetMaxToMany">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetMinToSpecificNumber"
           id="SetMinToSpecificNumber">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.RemoveTarget"
           id="RemoveReferenceTarget">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.PushFeature"
           id="PushFeature">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetMinNumber"
           id="SetMinNumber">
     </javaActions>
     <javaActions
           actionClass="totem.drm.editor.SetMaxNumber"
           id="SetMaxNumber">
     </javaActions>
  </extension>
</plugin>
