<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated MM_uncertainty -->
      <package
            uri="MM_uncertainty"
            class="MM_uncertainty.MM_uncertaintyPackage"
            genModel="metamodel/MM_uncertainty.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated VariabilityFM -->
      <package
            uri="VariabilityFM"
            class="VariabilityFM.VariabilityFMPackage"
            genModel="metamodel/VariabilityFM.genmodel"/>
   </extension>

</plugin>
